<?xml version="1.0" encoding="utf-8" ?>
<configuration >
  <configSections>
    <section name="trace" type="pt.sapo.gis.trace.configuration.TraceConfigurationSectionHandler, Trace"/>
  </configSections>
  <trace>
    <configuration xmlns="http://services.sapo.pt/GIS/Trace/Configuration">
      <appenders>
        <appender type="pt.sapo.gis.trace.appender.ConsoleAppender">
          <events></events>          
        </appender>
      </appenders>
    </configuration>
  </trace>
</configuration>