<?xml version="1.0" encoding="utf-8" ?>
<configuration >
  <configSections>
    <section name="trace" type="pt.sapo.gis.trace.configuration.TraceConfigurationSectionHandler, Trace"/>
  </configSections>
  <trace>
    <configuration xmlns="http://services.sapo.pt/GIS/Trace/Configuration">
      <appenders>
        <appender type="pt.sapo.gis.trace.appender.SMI.BrokerSMILoggerAppender">
          <events>
            <event type="entry">
            </event>
          </events>
          <property name="defaultSourceId">SOURCE_ID</property>          
          <property name="host">10.135.5.110</property>
          <property name="port">3323</property>
          <property name="topic">/gis/trace</property>
        </appender>
      </appenders>
    </configuration>
  </trace>
</configuration>