<?xml version="1.0" encoding="utf-8" ?>
<configuration >
  <configSections>
    <section name="trace" type="pt.sapo.gis.trace.configuration.TraceConfigurationSectionHandler, Trace"/>
  </configSections>
  <trace>
    <configuration xmlns="http://services.sapo.pt/GIS/Trace/Configuration">
      <appenders>
        <appender type="pt.sapo.gis.trace.appender.FileAppender">
          <events>
            <event type="trace"/>
          </events>
          <property name="filename">Test</property>
          <property name="path">.</property>
          <property name="daysToKeep">2</property>
        </appender>        
      </appenders>
    </configuration>
  </trace>  
</configuration>
