<?xml version="1.0" encoding="utf-8" ?>
<configuration >
  <configSections>
    <section name="trace" type="pt.sapo.gis.trace.configuration.TraceConfigurationSectionHandler, Trace"/>
  </configSections>
  <trace>
    <configuration xmlns="http://services.sapo.pt/GIS/Trace/Configuration">
      <appenders>
        <appender type="pt.sapo.gis.trace.appender.SMI.SDBTraceAppender">
          <events>
            <event type="trace"/>
          </events>
          <property name="defaultSourceId">D59F3011-0D83-4C31-8D97-9CDB954E61D8</property>
          <property name="host">services.bk.sapo.pt</property>
          <property name="protocol">https</property>
          <property name="path">/SDBSS/Diagnostics/Trace/Details</property>
          <property name="token">32ffd807584f016fdefecf86c451feeb23eb4926b5bd85ab996e6f7fd956bbfdae96093381d63059c15350befd51a7e1dcd6ce357864c3510ad3e766bca6a0d6993131e98d6281707a31df0f6de599cea6b8024709f7d0403a6b610a97d3ab26c9d7cd5c7b3f56b9f76254aa1b5f5b4e0caee28d17c32bd911337e19c76162412293b86b08e75b5333c8109e14f57f7dadb7d10f9df0d7c3cbe266dc1c2fbbc8f743c9d0f0db7e8e6aed2b2937b50141534552fcb411259fae7234194cb431feecdbfe9d314cf66ef910e8bd540466cd2f5d854b102e7e511c02504351653580</property>
        </appender>
        <appender type="pt.sapo.gis.trace.appender.ConsoleAppender">
          <events>
            <event type="trace" />
          </events>
        </appender>
      </appenders>
    </configuration>
  </trace>
  <!--<system.net>
    <defaultProxy>
      <proxy proxyaddress="http://127.0.0.1:8888/"/>
    </defaultProxy>
  </system.net>-->
</configuration>