<?xml version="1.0" encoding="utf-8" ?>
<configuration >
  <configSections>
    <section name="trace" type="pt.sapo.gis.trace.configuration.TraceConfigurationSectionHandler, Trace"/>
  </configSections>
  <trace>
    <configuration xmlns="http://services.sapo.pt/GIS/Trace/Configuration">
      <appenders>
        <appender type="pt.sapo.gis.trace.appender.SMI.SDBTraceAppender">
          <events>
            <event type="trace">
            </event>
          </events>
          <property name="defaultSourceId">SOURCE_ID</property> 
          <property name="host">127.0.0.1</property>
          <property name="port">12345</property>
          <property name="path">trace</property>
          <property name="token">TOKEN</property>
        </appender>
      </appenders>
    </configuration>
  </trace>
</configuration>