<?xml version="1.0" encoding="utf-8" ?>
<configuration >
  <configSections>
    <section name="trace" type="pt.sapo.gis.trace.configuration.TraceConfigurationSectionHandler, Trace"/>
  </configSections>
  <trace>
    <configuration xmlns="http://services.sapo.pt/GIS/Trace/Configuration">
      <appenders>        
        <appender type="pt.sapo.gis.trace.appender.ConsoleAppender">
          <events>
            <event type="trace" />
          </events>
        </appender>
      </appenders>
    </configuration>
  </trace>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="traceBehavior" type="pt.sapo.gis.trace.wcf.TraceEndpointBehaviorElement, Trace"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <traceBehavior/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Tests.HelloWorldService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12345/"/>
          </baseAddresses>
        </host>
        <endpoint address="hello" binding="basicHttpBinding" contract="Tests.IHelloWorldService"/>
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:12345/hello" binding="basicHttpBinding" contract="Tests.IHelloWorldService" />
    </client>
  </system.serviceModel>
</configuration>