<?xml version="1.0" encoding="utf-8" ?>
<configuration >
  <configSections>
    <section name="trace" type="pt.sapo.gis.trace.configuration.TraceConfigurationSectionHandler, Trace"/>
  </configSections>
  <trace>
    <configuration xmlns="http://services.sapo.pt/GIS/Trace/Configuration">
      <appenders>
        <appender type="pt.sapo.gis.trace.appender.TimeoutFileLogAppender">
          <events>
            <event type="trace"/>
          </events>
          <property name="filename">ShortTimeout</property>
          <property name="path">.</property>
          <property name="timeout">1</property>
        </appender>              
        <appender type="pt.sapo.gis.trace.appender.TimeoutFileLogAppender">
          <events>
            <event type="trace"/>
          </events>
          <property name="filename">LongTimeout</property>
          <property name="path">.</property>
          <property name="timeout">100</property>
        </appender>
        <appender type="pt.sapo.gis.trace.appender.TimeoutFileLogAppender">
          <events>
            <event type="trace"/>
          </events>
          <property name="filename">NoTimeout</property>
          <property name="path">.</property>
          <property name="timeout">-1</property>
        </appender>
      </appenders>
    </configuration>
  </trace>  
</configuration>
